<!doctype html>
<html>
  <head>
    <title>
        {{ title }}
    </title>
        <script type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="/js/testNode.js"></script>
    </head>
  <body>